* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outfit-font: "Outfit", sans-serif;
    --san-font: "Work Sans", sans-serif;
    --body-color: #0c0f14;
    --primary-color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--body-color);
    font-family: var(--outfit-font);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* NAV */
.i, .profile-d {
    pointer-events: auto;
}
.home-top-nav {
    display: flex;
    align-items: center;
    gap: 5.4rem;
    padding: 0.6rem 1rem;
    background: transparent;
}
.home-top-nav i {
    font-size: 30px;
}
.home-top-nav span {
    font-size: 1.8rem;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    line-height: 1;
}
.bottom-nav {
    width: 100%;
    height: 6.50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--body-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.bottom-nav a {
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
}
.head-text {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: var(--san-font);
}

.bottom-nav i {
    font-size: 30px;
}

.profile-d {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

/* story section */
.head {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    gap: 0.9rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.head::-webkit-scrollbar {
    display: none;
}
.head div:nth-child(1) {
    margin-left: 2px;
}
.story {
    flex: 0 0 auto;
    width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    scroll-snap-align: start;
    /* margin-right: 0.6rem; */
}
.story-ring {
    position: absolute;
    inset: -7px;
    border-radius: 50%;
    border: 3px solid red;
}
.profile-img {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.story span {
    font-size: 13px;
    margin-top: 6px;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}