* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outfit-font: "Outfit", sans-serif;
    --san-font: "Work Sans", sans-serif;
    --body-color: #0c0f14;
    --primary-color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--body-color);
    font-family: var(--outfit-font);
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* NAV */
.nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    z-index: 999;
}

.nav i, .profile-d {
    pointer-events: auto;
}

.top-nav {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 1rem 1.2rem;
    background: transparent;
}

.top-nav i {
    font-size: 32px;
}
.bottom-nav a {
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
}
.head-text {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: var(--san-font);
}

.bottom-nav {
    width: 100%;
    height: 6.50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--body-color);
}
.bottom-nav i {
    font-size: 30px;
}

.profile-d {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

/* RIGHT ICONS */
.right-icons {
    position: absolute;
    bottom: 11%;
    right: 10px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    z-index: 99;
}
.icon-d {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right-icons i {
    font-size: 35px;
}

.icon-d span {
    font-size: 14px;
}

.music-box {
    width: 33px;
    height: 33px;
    border: 2px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}

/* USER INFO */
.user-info {
    position: absolute;
    left: 4%;
    bottom: 7%;
    z-index: 30;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.sec-profile-d {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
}

.sec-profile-d img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.story-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 50%;
    top: -3px;
    left: -3px;
}

.used-music {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.used-music h2 {
    font-size: 15px;
}

.used-music span {
    font-size: 13px;
    opacity: .8;
}

.follow-btn {
    padding: 5px 10px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 15%;
}

.bio {
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


/* SCROLLABLE REELS WRAPPER */
.reels {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.reel {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel video {
    position: absolute;
    top: 5.50%;
    left: 0;
    width: 100%;
    height: 84%;
    object-fit: cover;
}
/* like icon active classes */
.reel-like-d {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none; 
    background: transparent;
}
.reel-like-d i {
    font-size: 80px;
    color: red;
}
.reel-like-d.show {
    transform: translate(-50%, -50%) rotate(-30deg) translateY(-20px) scale(1.6);
    opacity: 1;
}

.progress-bar {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255,255,255,0.2);
    z-index: 50;
}

.progress-bar span {
    display: block;
    height: 100%;
    width: 0%;
    background: white;
    transition: width 0.1s linear;
}
.sound-d {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(0%, 0%) scale(0.5);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    background: transparent;
    z-index: 99;
}
.sound-d.active {
    opacity: 1;
    transform: scale(1);    
}
.sound-d i {
    font-size: 25px;
    background-color: #0c0f148e;
    padding: 23px;
    border-radius: 50%;
}