* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --outfit-font: "Outfit", sans-serif;
    --san-font: "Work Sans", sans-serif;
    --body-color: #0c0f14;
    --primary-color: #fff;
     
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    font-family: var(--outfit-font);
}