* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --outfit-font: "Outfit", sans-serif;
    --san-font: "Work Sans", sans-serif;
    --body-color: #0c0f14;
    --primary-color: #fff;
     
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--body-color);
    font-family: var(--outfit-font);
}
.main { 
    width: 100%;
    height: 100%;
    /* border: 2px solid #fff; */
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7rem 0;
    /* position: absolute; */
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 5%;
    padding: 1rem 1.2rem;
}
.top-nav i {
    font-size: 30px;
}
.head-text {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: var(--san-font);
}
.head-text span:nth-child(2) {
    opacity: 0.7;
}
.bottom-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 2.20rem;
}
.bottom-nav i {
    font-size: 34px;
}
.profile-d {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    overflow: hidden;
}
/*info section  */
.info-section {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid red;
}
.right-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 13%;
    gap: 1.4rem;
    padding-right: 15px;
}
.icon-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.right-icons i {
    font-size: 35px;
}
.user-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 20%;
}

.music-box {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}