* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --outfit-font: "Outfit", sans-serif;
    --san-font: "Work Sans", sans-serif;
    --body-color: #0c0f14;
    --primary-color: #fff;
     
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--body-color);
    font-family: var(--outfit-font);
}
.main { 
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7rem 0 0 0;
    z-index: 99;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 5%;
    padding: 1rem 1.2rem;
}
.top-nav i {
    font-size: 30px;
}
.head-text {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: var(--san-font);
}
.head-text span:nth-child(2) {
    opacity: 0.7;
}
.bottom-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 2.20rem;
    border-top: 1px solid rgba(44, 44, 44, 0.747);
    padding-top: 6px;
}
.bottom-nav i {
    font-size: 30px;
}
.profile-d {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    overflow: hidden;
}
/* video section */
.player-holder {
    position: absolute;
    top: 5.50%;
    left: 0;
    width: 100%;
    height: 84%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*info section  */
.info-section {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.right-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 8%;
    gap: 1.4rem;
    padding-right: 15px;
}
.icon-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.right-icons i {
    font-size: 35px;
}
.music-box {
    width: 33px;
    height: 33px;
    border: 2px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}

/* bio section */
.user-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4%;
    bottom: 8%;
    gap: 10px;
    width: 100%;
}
.user {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.used-music {
    padding-left: 14px;
    padding-top: 9px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.used-music h2 {
    font-size: 16px;
    line-height: 0;
}
.sec-profile-d {
    width: 43px;
    height: 38px;
    border-radius: 50px;
    object-fit: cover;
    position: relative; 
}
.sec-profile-d img {
    border-radius: 50%;
}
.story-circle {
    position: absolute;
    top: -5px;
    left: -14%;
    width: 50px;
    height: 49px;
    border: 2px solid red;
    border-radius: 50px;
}
.bio {
    width: 100%;
}
.bio span {
    font-size: 14px;
    padding-left: 5px;
}

.follow-btn {
    width: 65px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    background: transparent;
    position: absolute;
    right: 30%;
    top: 16%;
    font-size: 13px;
    font-weight: 700;
}