* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outfit-font: "Outfit", sans-serif;
    --san-font: "Work Sans", sans-serif;
    --body-color: #0c0f14;
    --primary-color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--body-color);
    font-family: var(--outfit-font);
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* SCROLLABLE REELS WRAPPER */
.reels {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.reel {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel video {
    position: absolute;
    top: 5.50%;
    left: 0;
    width: 100%;
    height: 84%;
    object-fit: cover;
}

/* NAV */
.nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.nav i, .profile-d {
    pointer-events: auto;
}

.top-nav {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 1rem 1.2rem;
}

.top-nav i {
    font-size: 32px;
}

.head-text {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: var(--san-font);
}

.bottom-nav {
    width: 100%;
    height: 6.50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-nav i {
    font-size: 30px;
}

.profile-d {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

/* RIGHT ICONS */
.right-icons {
    position: absolute;
    bottom: 11%;
    right: 10px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
}
.icon-d {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-icons i {
    font-size: 35px;
}

.icon-d span {
    font-size: 14px;
}

.music-box {
    width: 33px;
    height: 33px;
    border: 2px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}

/* USER INFO */
.user-info {
    position: absolute;
    left: 4%;
    bottom: 7%;
    z-index: 30;
    width: 75%;
}

.user {
    display: flex;
    align-items: center;
}

.sec-profile-d {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
}

.sec-profile-d img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.story-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 50%;
    top: -3px;
    left: -3px;
}

.used-music {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.used-music h2 {
    font-size: 15px;
}

.used-music span {
    font-size: 13px;
    opacity: .8;
}

.follow-btn {
    margin-left: 80px;
    padding: 5px 10px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 700;
}

.bio {
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}